{{#if user}}
    <h1 class="text-2xl font-bold text-gray-800">Welcome Back, {{username}}!</h1>
    <h3 class="text-xl text-gray-600">It's time to lock in.</h3>

    <div id="home-outer" class="mt-6">
        <div id="current-sessions" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h2 class="text-lg font-bold text-gray-700 mb-4">Current Sessions</h2>
            
            <table class="min-w-full divide-y divide-gray-200">
                <tbody class="bg-white divide-y divide-gray-300">
                    {{#each sessions}}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><a href="/session/{{this._id}}" class="text-blue-500 hover:text-blue-800">{{this.name}}</a></td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{this.status}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            <form action="/" method="POST" class="mt-6">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2">New Session Name:</label>
                    <input type="text" name="name" placeholder="Enter name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Number of Blocks</label>
                </div>
                <button type="submit" id="add-session-button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create Session</button>
            </form>
        </div>

       
    </div>



{{else}}
    <div class="error text-red-500 text-center py-4">There was an error logging in. Please try logging in again.</div>
{{/if}}